node_modules
etsy.js
s3_helper.js
credentials
mockdata.csv
otherItems.zip
atlasHelper.js
newrelic.js
newrelic_agent.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
